.choice-btn {
    @apply flex justify-center;
}
.choice-btn:active, .choice-btn.active {
    @apply translate-y-2 rounded-full;
    box-shadow: 1px 1px 50px 10px var(--tw-shadow-color);
    .choice-outer-btn {
        box-shadow: 0 5px var(--tw-shadow-color);
    }
    .choice-inner-btn {
        box-shadow: inset 0px 20px 0 15px #b9c0d3;
    }
}
.choice-btn.win .win-animation {
    @apply animate-ping absolute w-48 h-48 rounded-full opacity-10 bg-gradient-radial from-blue-100 to-blue-600;
}

.choice-outer-btn {
    @apply w-48 h-48 rounded-full absolute cursor-pointer;
    box-shadow: 0 6px var(--tw-shadow-color);
    border-width: 30px;
}
.choice-rock {
    @apply shadow-rose-600;
    .choice-outer-btn {
        @apply border-rose-500;
    }
}
.choice-paper {
    @apply shadow-sky-600;
    .choice-outer-btn {
        @apply border-sky-500;
    }
}
.choice-scissors {
    @apply shadow-yellow-600;
    .choice-outer-btn {
        @apply border-yellow-500;
    }
}
.choice-spock {
    @apply shadow-cyan-600;
    .choice-outer-btn {
        @apply border-cyan-500;
    }
}
.choice-lizard {
    @apply shadow-violet-600;
    .choice-outer-btn {
        @apply border-violet-500;
    }
}

.choice-inner-btn {
    @apply w-48 h-48 bg-white rounded-full flex items-center justify-center;
    box-shadow: inset 0px 20px 0 18px #b9c0d3;
}
.choice-empty {
    @apply bg-[#17223e] w-48 h-48 rounded-full;
}