@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #1e3756;
  --background-start-rgb: #1e3756;
  --background-end-rgb: #131637;
}

body {
  @apply h-screen;
  background-image: radial-gradient(
    circle at center top,
    var(--background-start-rgb),
    var(--background-end-rgb)
  );
}
